body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(.9);
	line-height: $font__line-height-body;

	@media screen and (min-width: 700px) {
		@include font-size(1);
	}
}
nav a {
	font-family: $font__nav;
	text-transform: upppercase;
	letter-spacing: 0em;
	@include font-size(.9);
}
@import "headings";

@import "copy";
