$font__cursive: "Londrina Solid", "Lucida Grande", "Lucida Sans";
$font__main: "Open Sans", Helvetica, Arial, sans-serif;
$font__nav: "Oswald", sans-serif;
$fontawesome: "fontawesome";
$font__code: Monaco, Consolas, "Adale Mono","DejaVu Sans Mono",monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;